.card__link {
  text-decoration: none;
}

.card__heading {
  font-family: @font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @dark-grey-2;
}

.card__title {
  font-family: @font;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}

.card__description {
  font-family: @font;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}
