.control {
  &--checkbox {
    display: grid;
    align-items: center;
    min-height: 30px;
  }
}

.control__line {
  font-family: @font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey-2;
  text-transform: uppercase;

  &--checkbox {
    padding: 0 0 0 46px;
  }
}

.control__radiobutton {
  position: absolute;
  content: "";
  top: -6px;
  left: -45px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}

.control__icon {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid @pale-grey-3;
}

.control__input[type="checkbox"]:checked + .control__icon {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/icons/check-green.svg");
  background-repeat: no-repeat;
  background-position: center;
}
