
.cooperation {
  margin-bottom: -3px;

   @media (min-width: @desktop-width) {
    position: relative;
   }

  &--form {
    background-color: @light-grey;
  }
}

.cooperation__container {
  padding: 26px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 171px 160px;
    column-gap: 297px;
    margin-top: 46px;
    padding: 61px 40px 60px 40px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 50px;
    left: 110px;
    max-width: 565px;
    height: 198px;
    background-color: #ffffff;
    z-index: 1;
    column-gap: 91px;
    padding: 58px 40px 60px 40px;
  }

  &--form {
    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }
}

.cooperation__title {
  font-family: @font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @almost-black;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: @desktop-width) {
    padding: 2px 0 0 40px;
  }
}

.cooperation__street {
  font-family: @font-arial;
  line-height: 20px;
  color: @dark-grey;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.cooperation__image {
  display: block;
  margin: auto;

  &--tablet,
  &--desktop {
    display: none;
  }

  @media (min-width: @tablet-width) {
    &--tablet {
      display: block;
    }

    &--mobile,
    &--desktop {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    &--desktop {
      display: block;
      position: relative;
    }

    &--mobile,
    &--tablet {
      display: none;
    }
  }
}
