.example {
  padding: 25px 0 40px 0;
  background-color: @grey;
}

.example__text {
  font-family: @font-arial;
  color: @dark-grey;
  margin: 0;
  padding: 40px 0 20px 0;
}

.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  text-align: center;
  margin: 0;
  margin-bottom: 19px;
}

.example__title {
  grid-row: 2/3;
  width: 90px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
  text-transform: lowercase;
  text-align: center;
  padding-left: 33px;
}

.example__description {
  font-family: @font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 9px;
  padding-top: 14px;
}

.example__addition {
  font-family: @font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: @black;
  margin: 0;
  margin-bottom: 40px;
}
