.example {
  padding: 20px;
  background-color: @grey;
}

.example__text {
  font-family: @font;
  color: @dark-grey;
}

.example__list {
  text-align: center;
}

.example__title {
  font-family: @font;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: @dark-grey;
  text-transform: lowercase;
}

.example__description {
  font-family: @font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  text-transform: uppercase;
}

.example__addition {
  font-family: @font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: @black;
}
