.example {
  padding: 20px;
  background-color: @grey;
}

.example__title {
  font-family: @font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__description {
  font-family: @font;
  color: @dark-grey;
}
