.field {
  &--textarea {
    padding: 37px 0 0 0;
  }
}

.field-group {
  padding: 0;
  border: none;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    left: -21px;
    border-bottom: 1px solid #d9d9d9;
  }

  &--contacts {
    &::after {
      display: none;
    }
  }
}

.field-group__control {
  position: relative;
}

.field-group__list {
  list-style: none;
  margin: 0;
  padding: 0;

  &--cat {
    padding: 0 0 23px 0;
  }
}

.field-group__item {
  &--name {
    padding: 0 0 14px 0;
  }

  &--weight {
    padding: 0 0 14px 0;
  }

  &--weight-loss {
    padding: 30px 0 24px 45px;
  }

  &--weight-gain {
    padding: 0 0 24px 45px;
  }

  &--advice {
    padding: 0 0 22px 45px;
  }

  &--email {
    padding: 0 0 14px 0;
  }

  &--phone {
    padding: 0 0 24px 0;
  }
}

.field-group__heading {
  position: relative;
  font-family: @font;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @black;

  &--contacts {
    padding: 27px 0 35px 0;

    &::after {
      position: absolute;
      content: "";
      width: 99px;
      height: 2px;
      background-color: @green;
      top: 43px;
      right: -20px;
    }
  }

  &--comment {
    &::after {
      position: absolute;
      content: "";
      width: 158px;
      height: 2px;
      background-color: #68b738;
      top: 20px;
      left: 142px;
    }
  }
}

.field-group__item input[type="radio"]:checked + .control__radiobutton::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: #68b738;
  border-radius: 50%;
  top: 7px;
  left: 7px;
}
