.field {
  &--textarea {
    padding: 37px 0 0 0;

    @media (min-width: @tablet-width) {
      padding: 75px 0 0 0;
    }
  }
}

.field__line {
  font-family: @font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
  }
}

.field__input {
  font-family: @font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
  border: 1px solid @pale-grey-2;
  min-height: 45px;
  padding: 0 0 0 15px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-height: 52px;
    padding-left: 18px;
  }

  &--name {
    min-width: 229px;
    margin-left: 10px;

    @media (min-width: @tablet-width) {
      min-width: 567px;
      margin-left: 13px;
    }
  }

  &--weight {
    min-width: 204px;
    margin-left: 13px;

    @media (min-width: @tablet-width) {
      min-width: 536px;
      margin-left: 16px;
    }
  }

  &--age {
    min-width: 172px;
    margin-left: 11px;

    @media (min-width: @tablet-width) {
      min-width: 497px;
      margin-left: 13px;
    }
  }

  &--email {
    position: relative;
    min-width: 219px;
    padding: 0 0 0 15px;
    margin-left: 7px;

    @media (min-width: @tablet-width) {
      margin-left: 16px;
      min-width: 551px;
      padding: 0 0 0 22px;
    }
  }

  &--phone {
    min-width: 204px;
    padding: 0 0 0 15px;
    margin-left: 6px;

    @media (min-width: @tablet-width) {
      margin-left: 11px;
      min-width: 535px;
      padding: 0 0 0 20px;
    }
  }

  &--textarea {
    min-width: 280px;
    min-height: 150px;
    padding: 9px 0 0 14px;

    @media (min-width: @tablet-width) {
      min-width: 631px;
      min-height: 174px;
      padding: 10px 0 0 19px;
    }
  }
}

.field__icon {
  &--email {
    position: absolute;
    top: 16px;
    right: 15px;

    @media (min-width: @tablet-width) {
      top: 59px;
      right: 18px;
    }
  }

  &--phone {
    position: absolute;
    bottom: 35px;
    right: 13px;

    @media (min-width: @tablet-width) {
      right: 17px;
      bottom: 80px;
    }
  }
}
