.field-group {
  padding: 0;
  border: none;
  position: relative;

  &--cat {
    &::after {
      position: absolute;
      content: "";
      width: 320px;
      height: 1px;
      left: -21px;
      border-bottom: 1px solid #d9d9d9;
    }
  }

  &--program {
    padding: 30px 0 0 0;

    &::after {
      position: absolute;
      content: "";
      width: 320px;
      height: 1px;
      left: -21px;
      border-bottom: 1px solid #d9d9d9;
    }
  }

  &--contacts {
    padding: 0 0 24px 0;
  }

  &--comment {
    padding: 0 0 20px 0;
  }

  &--additionally {
    padding: 0 0 35px 0;
  }
}

.field-group__control {
  position: relative;
}

.field-group__list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;

  &--cat {
    row-gap: 14px;
    padding: 0 0 23px 0;
  }

  &--program {
    row-gap: 3px;
    padding: 0 0 1px 0;
  }

  &--contacts {
    grid-template-rows: repeat(2, 45px);
    row-gap: 14px;
  }

  &--checkbox {
    display: grid;
    grid-template-rows: repeat(4, 30px);
    row-gap: 12px;
  }
}

.field-group__item {
  &--weight-loss,
  &--weight-gain,
  &--advice {
    padding: 0 0 0 45px;
    min-height: 40px;
  }

  &--checkbox {
    min-height: 30px;
    padding: 0 0 0 0;
  }
}

.field-group__heading {
  position: relative;
  font-family: @font;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @black;

  &--contacts {
    padding: 27px 0 35px 0;

    &::after {
      position: absolute;
      content: "";
      width: 99px;
      height: 2px;
      background-color: @green;
      top: 43px;
      right: -20px;
    }
  }

  &--comment {
    &::after {
      position: absolute;
      content: "";
      width: 158px;
      height: 2px;
      background-color: #68b738;
      top: 20px;
      left: 142px;
    }
  }

  &--additionally {
    padding: 0 0 34px 0;

    &::after {
      position: absolute;
      content: "";
      width: 136px;
      height: 2px;
      background-color: #68b738;
      top: 15px;
      left: 164px;
    }
  }
}

.field-group__item input[type="radio"]:checked + .control__radiobutton::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: #68b738;
  border-radius: 50%;
  top: 7px;
  left: 7px;
}
