.field__line {
  font-family: @font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
}

.field__input {
  font-family: @font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
}
