.field {
  &--textarea {
    padding: 37px 0 0 0;
  }
}

.field__line {
  font-family: @font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--name {
    padding: 0 10px 0 0;
  }

  &--weight {
    padding: 0 13px 0 0;
  }

  &--age {
    padding: 0 11px 0 0;
  }

  &--email {
    padding: 0 7px 0 0;
  }

  &--phone {
    padding-right: 6px;
  }
}

.field__input {
  font-family: @font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
  border: 1px solid @pale-grey-2;
  min-height: 45px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-height: 52px;
  }

  &--name {
    min-width: 229px;
    padding: 0 0 0 14px;

    @media (min-width: @tablet-width) {
      min-width: 567px;
    }
  }

  &--weight {
    min-width: 204px;
    padding: 0 0 0 15px;
  }

  &--age {
    min-width: 172px;
    padding: 0 0 0 15px;
  }

  &--email {
    position: relative;
    min-width: 219px;
    padding: 0 0 0 15px;
  }

  &--phone {
    min-width: 204px;
    padding: 0 0 0 15px;
  }

  &--textarea {
    min-width: 280px;
    min-height: 150px;
    padding: 9px 0 0 14px;
  }
}

.field__icon {
  &--email {
    position: absolute;
    top: 16px;
    right: 15px;
  }

  &--phone {
    position: absolute;
    bottom: 35px;
    right: 13px;
  }
}
