.footer {
  background-color: @light-grey;
}

.footer__container {
  padding-top: 42px;
  text-align: center;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 38px 0 52px 0;
  }
}

.footer__link {
  padding: 0 0 28px 0;
  border-bottom: 1px solid @border-grey;

  @media (min-width: @tablet-width) {
    padding: 23px 0 0 0;
    border: none;
  }
}

.footer__copyright {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 22px 0 18px 0;

  @media (min-width: @tablet-width) {
    grid-template-columns: 114px 27px;
    column-gap: 23px;
    padding: 22px 0 0 0;
  }
}
