
.form__group {
  margin: 0;
}

.form__footnote {
  font-family: @font-arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @black;
  text-align: center;
  margin: 21px 0 0 0;
  padding: 0 0 32px 0;
}

.form__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 0 37px 0;
}

.form__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0 0 39px 0;
}

.form__button {
  min-width: 280px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
}
