.logo {
  display: grid;
  grid-template-columns: 34px 1fr;
  gap: 16px;
  align-items: center;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;

    .logo__img--tablet {
      display: block;
    }

    .logo__img--mobile,
    .logo__title--mobile,
    .logo__img--desktop {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    .logo__img--desktop {
      display: block;
    }

    .logo__img--mobile,
    .logo__title--mobile,
    .logo__img--tablet {
      display: none;
    }
  }
}

.logo__img--mobile {
  padding-top: 0;
}

.logo__img--tablet {
  display: none;
}

.logo__img--desktop {
  display: none;
}

.logo__title--mobile {
  padding-top: 5px;
  justify-self: center;
}
