.main__container {
  padding: 25px 0 0 0;
}

.main__title {
  font-family: @font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @black;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &--catalog {
    @media (max-width: @mobile-width-only) {
      position: relative;
      padding-top: 25px;
      margin-bottom: 38px;

      &::after {
        position: absolute;
        content: "";
        width: 320px;
        height: 1px;
        background-color: #ebebeb;
        top: 103px;
        left: -20px;
      }
    }

    @media (min-width: @tablet-width) {
      padding-top: 41px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 51px;
    }

  }
}

.main__description {
  font-family: @font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
}
