
.page {
  height: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.page__body {
  margin-left: 20px;
  margin-right: 20px;
  min-height: 100%;
  color: @dark-grey;
  background-color: @white;
}
