
.page {
  height: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.page__body {
  min-height: 100%;
  margin: 0;
  color: @dark-grey;
  background-color: @white;
}

.page__header {
  display: flex;
  flex-direction: column;
  background-color: @white;
  color: @black;
}
