.programs__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
  background-color: @light-grey;

  &:nth-of-type(1) {
    margin-bottom: 22px;
  }
}

.programs__icon-slim {
  margin-left: 2px;
}

.programs__icon-fat {
  margin-left: -7px;
  margin-top: 5px;
}

.programs__title-slim {
  align-self: center;
  font-family: @font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-top: 2px;
  padding-left: 19px;
}

.programs__title-fat {
  align-self: center;
  font-family: @font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 11px;
  padding-top: 2px;
}

.programs__description {
  font-family: @font-arial;
  color: @dark-grey;
  margin-top: 22px;
  padding-bottom: 22px;
  margin-bottom: 19px;
  border-bottom: 1px solid @border-grey;
}

.programs__link {
  font-family: @font;
  font-weight: 400;
  color: @black;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.programs__arrow {
  margin-left: 11px;
}
