.programs__container {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
  }
}

.programs__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
  background-color: @light-grey;

  &:nth-of-type(1) {
    margin-bottom: 22px;

    @media (min-width: @tablet-width) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 340px 1fr;
    column-gap: 54px;
    grid-template-rows: repeat(3, min-content);
    padding: 52px 52px 56px 52px;
  }

  &:nth-of-type(2) {
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 340px 1fr;
      column-gap: 8px;
      grid-template-rows: repeat(3, min-content);
      padding: 52px 26px 56px 52px;
    }
  }
}

.programs__icon-slim {
  margin-left: 2px;

  &--tablet,
  &--desktop {
    display: none;
  }

  @media (min-width: @tablet-width) {
    &--tablet {
      display: block;
      grid-row: 1/-1;
      margin: 0;
      margin-top: 28px;
    }

    &--mobile,
    &--desktop {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    &--desktop {
      display: block;
    }

    &--mobile,
    &--tablet {
      display: none;
    }
  }
}

.programs__icon-fat {
  margin-left: -7px;
  margin-top: 5px;

  &--tablet,
  &--desktop {
    display: none;
  }

  @media (min-width: @tablet-width) {
    &--tablet {
      grid-row: 1/-1;
      display: block;
      margin-left: 12px;
      margin-top: 39px;
    }

    &--mobile,
    &--desktop {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    &--desktop {
      display: block;
    }

    &--mobile,
    &--tablet {
      display: none;
    }
  }
}

.programs__title-slim {
  align-self: center;
  font-family: @font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-top: 2px;
  padding-left: 19px;

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 0;
  }
}

.programs__title-fat {
  align-self: center;
  font-family: @font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 11px;
  padding-top: 2px;

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 0;
  }
}

.programs__description {
  font-family: @font-arial;
  color: @dark-grey;
  margin-top: 22px;
  padding-bottom: 22px;
  margin-bottom: 19px;
  border-bottom: 1px solid @border-grey;

  @media (min-width: @tablet-width) {
    grid-row: 2/3;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-top: 26px;
    border: none;
  }
}

.programs__link {
  font-family: @font;
  font-weight: 400;
  color: @black;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    grid-row: 3/-1;
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    position: relative;
  }
}

.programs__arrow {
  margin-left: 11px;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 122px;
    bottom: 10px;
  }
}
