.promo {
  padding: 20px;
  color: @white;
  background-color: @green;
  background-image: url("../img/backgrounds/background-promo.jpg");
  text-align: center;
}

.promo__title {
  font-family: @font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.promo__description {
  font-family: @font;
  line-height: 14px;
  text-transform: uppercase;
}
