.promo-gift {
  padding: 40px;
  background-image: url("../img/backgrounds/background-optional.jpg");
}

.promo-gift__descriptoin {
  font-family: @font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-align: center;
}
