.promo-gift {
  padding: 59px 59px 41px;
  background-image: url("../img/backgrounds/background-optional.jpg");
}

.promo-gift__image {
  display: block;
  margin: auto;
}

.promo-gift__descriptoin {
  font-family: @font-arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-align: center;
  margin: 0;
  margin-top: 50px;
}
