.promo {
  padding-top: 27px;
  color: @white;
  // background-color: @green;
  background-position: 50% 0;
  background-image: url("../img/backgrounds/background-promo.jpg");
  background-repeat: no-repeat;
  background-size: auto 302px;
  text-align: center;
}

.promo__title {
  font-family: @font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
}

.promo__description {
  font-family: @font;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.promo__button {
  width: 100%;
}
