.show-all__header {
  font-family: @font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @almost-black;
  text-transform: uppercase;
  text-align: center;
}

.show-all__description {
  font-family: @font;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
  text-align: center;
}
