.site-menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
  }
}

.site-menu__link {
  display: block;
  padding: 22px 20px 23px;
  color: @black;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    padding: 20px 0 13px 0;
  }

  @media (min-width: @desktop-width) {
    color: @white;
    padding: 19px 0 13px 0;
  }

  &--form {
    @media (min-width: @desktop-width) {
      color: @almost-black;
    }
  }

  &--catalog {
    @media (min-width: @desktop-width) {
      color: @almost-black;
    }
  }
}

.site-menu__item {
  border-bottom: 1px solid @pale-grey;

  &:nth-of-type(2) {
    @media (min-width: @tablet-width) {
      margin-left: 34px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 36px;
    }
  }

  &:nth-of-type(3) {
    @media (min-width: @tablet-width) {
      margin-left: 38px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 33px;
    }
  }

  @media (min-width: @tablet-width) {
    position: relative;
    border: none;
  }

  &--current {
    &::after {
      @media (min-width: @tablet-width) {
        position: absolute;
        content: "";
        background-color: #68b738;
        width: 63px;
        height: 2px;
        bottom: 1px;
        right: 0;
        left: 1px;
      }

      @media (min-width: @desktop-width) {
        width: 68px;
        bottom: 5px;
      }
    }
  }

  &--current-form {
    &::after {
      @media (min-width: @tablet-width) {
        position: absolute;
        content: "";
        background-color: #68b738;
        width: 152px;
        height: 2px;
        bottom: 3px;
        right: 0;
        left: -1px;
      }

      @media (min-width: @desktop-width) {
        width: 169px;
        bottom: 5px;
        top: 55px;
        left: 1px;
      }
    }
  }

  &--current-catalog {
    &::after {
      @media (min-width: @tablet-width) {
        position: absolute;
        content: "";
        background-color: #68b738;
        width: 154px;
        height: 2px;
        bottom: 3px;
        right: 0;
        left: -1px;
      }

      @media (min-width: @desktop-width) {
        width: 169px;
        bottom: 5px;
        top: 55px;
        left: 1px;
      }
    }
  }
}
