.usage {
  padding: 20px;
}

.usage__title {
  font-family: @font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.usage__list {
  list-style: none;
  color: @dark-grey;
  padding: 0;
  margin: 0;
}

.usage__item {
  display: grid;
  grid-template-columns: 60px 199px;
}
