/* Global */
/* @import url("global/normalize.less"); */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/oswaldregular.woff2") format("woff2"), url("/fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/oswaldmedium.woff2") format("woff2"), url("/fonts/oswaldmedium.woff2") format("woff");
  font-display: swap;
}
/* colors */
/* fonts */
/* viewports */
.page {
  height: 100%;
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.page__body {
  margin: 0;
  min-height: 100%;
  background-color: #ffffff;
}
.button {
  display: inline-block;
  padding: 11px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  border: none;
}
@media (min-width: 768px) {
  .button {
    padding: 17px 26px;
  }
}
.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}
.title {
  margin: 0;
}
.header {
  background-color: #ffffff;
  color: #000000;
}
@media (min-width: 1300px) {
  .header {
    position: relative;
  }
}
@media (min-width: 768px) {
  .header__nav {
    width: 708px;
    padding: 24px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 16px;
  }
}
@media (min-width: 1300px) {
  .header__nav {
    min-width: 1220px;
    grid-template-columns: 202px 1fr;
    padding-top: 51px;
    z-index: 1;
    position: relative;
  }
}
.header__bar {
  width: 320px;
  margin: 0 auto;
  padding: 10px 20px 15px;
  display: grid;
  grid-template-columns: 34px 1fr 34px;
  gap: 16px;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .header__bar {
    grid-template-columns: 1fr;
    gap: 0;
    width: 174px;
    padding: 0;
    border: none;
  }
}
@media (min-width: 1300px) {
  .header__bar {
    width: 202px;
  }
}
.header__logo {
  grid-column: 1/3;
}
.header__toggler {
  padding-left: 9px;
  padding-top: 8px;
  min-width: 40px;
  min-height: 40px;
  -webkit-appearance: none;
          appearance: none;
  background: url("/source/img/icons/menu-burger.svg") no-repeat;
  border: none;
}
@media (min-width: 768px) {
  .header__toggler {
    display: none;
  }
}
.logo {
  display: grid;
  grid-template-columns: 34px 1fr;
  gap: 16px;
  align-items: center;
}
@media (min-width: 768px) {
  .logo {
    grid-template-columns: 1fr;
  }
  .logo .logo__img--tablet {
    display: block;
  }
  .logo .logo__img--mobile,
  .logo .logo__title--mobile,
  .logo .logo__img--desktop {
    display: none;
  }
}
@media (min-width: 1300px) {
  .logo .logo__img--desktop {
    display: block;
  }
  .logo .logo__img--mobile,
  .logo .logo__title--mobile,
  .logo .logo__img--tablet {
    display: none;
  }
}
.logo__img--mobile {
  padding-top: 0;
}
.logo__img--tablet {
  display: none;
}
.logo__img--desktop {
  display: none;
}
.logo__title--mobile {
  padding-top: 5px;
  justify-self: center;
}
.main__container {
  padding: 25px 0 0 0;
}
.main__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .main__title {
    font-size: 60px;
    line-height: 60px;
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}
@media (min-width: 1300px) {
  .main__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media (max-width: 767px) {
  .main__title--catalog {
    position: relative;
    padding-top: 25px;
    margin-bottom: 38px;
  }
  .main__title--catalog::after {
    position: absolute;
    content: "";
    width: 766px;
    height: 1px;
    background-color: #ebebeb;
    top: 103px;
    right: -243px;
  }
}
@media (min-width: 768px) {
  .main__title--catalog {
    padding-top: 41px;
  }
}
.main__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
.site-menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .site-menu {
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
  }
}
@media (min-width: 1300px) {
  .site-menu {
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
  }
}
.site-menu__link {
  display: block;
  padding: 22px 20px 23px;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .site-menu__link {
    padding: 20px 0 13px 0;
  }
}
@media (min-width: 1300px) {
  .site-menu__link {
    color: #ffffff;
    padding: 19px 0 13px 0;
  }
}
@media (min-width: 1300px) {
  .site-menu__link--form {
    color: #111111;
  }
}
.site-menu__item {
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .site-menu__item:nth-of-type(2) {
    margin-left: 34px;
  }
}
@media (min-width: 1300px) {
  .site-menu__item:nth-of-type(2) {
    margin-left: 36px;
  }
}
@media (min-width: 768px) {
  .site-menu__item:nth-of-type(3) {
    margin-left: 38px;
  }
}
@media (min-width: 1300px) {
  .site-menu__item:nth-of-type(3) {
    margin-left: 33px;
  }
}
@media (min-width: 768px) {
  .site-menu__item {
    position: relative;
    border: none;
  }
}
@media (min-width: 768px) {
  .site-menu__item--current::after {
    position: absolute;
    content: "";
    background-color: #68b738;
    width: 63px;
    height: 2px;
    bottom: 1px;
    right: 0;
    left: 1px;
  }
}
@media (min-width: 1300px) {
  .site-menu__item--current::after {
    width: 68px;
    bottom: 5px;
  }
}
@media (min-width: 768px) {
  .site-menu__item--current-form::after {
    position: absolute;
    content: "";
    background-color: #68b738;
    width: 152px;
    height: 2px;
    bottom: 3px;
    right: 0;
    left: -1px;
  }
}
@media (min-width: 1300px) {
  .site-menu__item--current-form::after {
    width: 169px;
    bottom: 5px;
    top: 55px;
    left: 1px;
  }
}
@media (min-width: 768px) {
  .site-menu__item--current-catalog::after {
    position: absolute;
    content: "";
    background-color: #68b738;
    width: 154px;
    height: 2px;
    bottom: 3px;
    right: 0;
    left: -1px;
  }
}
@media (min-width: 1300px) {
  .site-menu__item--current-catalog::after {
    width: 169px;
    bottom: 5px;
    top: 55px;
    left: 1px;
  }
}
.container {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1220px;
  }
}
.promo {
  padding: 27px 0 0 0;
  color: #ffffff;
  background-position: 50% 0;
  background-image: url("../img/backgrounds/background-promo.jpg");
  background-repeat: no-repeat;
  background-size: auto 302px;
  text-align: center;
}
@media (min-width: 768px) {
  .promo {
    background-color: #ffffff;
    background-image: none;
  }
}
@media (min-width: 1300px) {
  .promo {
    position: relative;
    height: 638px;
  }
  .promo::after {
    content: "";
    position: absolute;
    top: -200px;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/backgrounds/index-background-desktop.png");
    background-position: 0 44%;
    background-repeat: no-repeat;
    background-size: 720px 694px;
  }
}
@media (min-width: 768px) {
  .promo__container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 87px 505px;
    z-index: 1;
  }
}
@media (min-width: 1300px) {
  .promo__container {
    padding: 47px 80px 187px;
  }
}
.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .promo__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    padding-top: 12px;
    padding-bottom: 42px;
    margin-bottom: 0;
  }
}
@media (min-width: 1300px) {
  .promo__title {
    font-size: 60px;
    line-height: 60px;
    width: 500px;
    padding-bottom: 0;
  }
}
.promo__description {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .promo__description {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    padding-left: 2px;
    padding-bottom: 48px;
    margin: 0;
  }
}
@media (min-width: 1300px) {
  .promo__description {
    padding: 40px 0 52px;
  }
}
.promo__img--tablet,
.promo__img--desktop {
  display: none;
}
@media (min-width: 768px) {
  .promo__img--tablet {
    display: block;
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .promo__img--mobile,
  .promo__img--desktop {
    display: none;
  }
}
@media (min-width: 1300px) {
  .promo__img--desktop {
    display: block;
    position: absolute;
    right: 220px;
    bottom: 56px;
  }
  .promo__img--mobile,
  .promo__img--tablet {
    display: none;
  }
}
.promo__button {
  width: 100%;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .promo__button {
    z-index: 2;
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 3px;
  }
}
@media (min-width: 1300px) {
  .promo__button {
    margin: 0;
    padding: 17px 0;
  }
}
@media (min-width: 1300px) {
  .programs__container {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-template-rows: 374px;
    column-gap: 80px;
  }
}
.programs__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .programs__item {
    display: grid;
    grid-template-columns: 340px 1fr;
    column-gap: 54px;
    grid-template-rows: repeat(3, min-content);
    padding: 52px 52px 56px 52px;
  }
}
@media (min-width: 1300px) {
  .programs__item {
    display: grid;
    grid-template-columns: 164px 1fr;
    column-gap: 0;
    grid-template-rows: 106px 1fr 1fr;
    padding: 43px 51px 52px 51px;
  }
}
.programs__item:nth-of-type(1) {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .programs__item:nth-of-type(1) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1300px) {
  .programs__item:nth-of-type(1) {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .programs__item:nth-of-type(2) {
    column-gap: 8px;
    padding: 52px 26px 56px 52px;
  }
}
@media (min-width: 1300px) {
  .programs__item:nth-of-type(2) {
    column-gap: 0;
    padding: 43px 51px 52px 51px;
  }
}
.programs__icon-slim {
  margin-left: 2px;
}
.programs__icon-slim--tablet,
.programs__icon-slim--desktop {
  display: none;
}
@media (min-width: 768px) {
  .programs__icon-slim--tablet {
    display: block;
    grid-row: 1/-1;
    margin: 0;
    margin-top: 28px;
  }
  .programs__icon-slim--mobile,
  .programs__icon-slim--desktop {
    display: none;
  }
}
@media (min-width: 1300px) {
  .programs__icon-slim--desktop {
    display: block;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .programs__icon-slim--mobile,
  .programs__icon-slim--tablet {
    display: none;
  }
}
.programs__icon-fat {
  margin-left: -7px;
  margin-top: 5px;
}
.programs__icon-fat--tablet,
.programs__icon-fat--desktop {
  display: none;
}
@media (min-width: 768px) {
  .programs__icon-fat--tablet {
    grid-row: 1/-1;
    display: block;
    margin-left: 12px;
    margin-top: 39px;
  }
  .programs__icon-fat--mobile,
  .programs__icon-fat--desktop {
    display: none;
  }
}
@media (min-width: 1300px) {
  .programs__icon-fat--desktop {
    display: block;
    margin-left: -18px;
    margin-bottom: -10px;
    grid-row: 1/2;
  }
  .programs__icon-fat--mobile,
  .programs__icon-fat--tablet {
    display: none;
  }
}
.programs__title-slim {
  align-self: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-top: 2px;
  padding-left: 19px;
}
@media (min-width: 768px) {
  .programs__title-slim {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 0;
  }
}
@media (min-width: 1300px) {
  .programs__title-slim {
    grid-column: 2/-1;
    grid-row: 1/2;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }
}
.programs__title-fat {
  align-self: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 11px;
  padding-top: 2px;
}
@media (min-width: 768px) {
  .programs__title-fat {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 0;
  }
}
@media (min-width: 1300px) {
  .programs__title-fat {
    grid-column: 2/-1;
    grid-row: 1/2;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }
}
.programs__description {
  font-family: "Arial", sans-serif;
  color: #444444;
  margin-top: 22px;
  padding-bottom: 22px;
  margin-bottom: 19px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .programs__description {
    grid-row: 2/3;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-top: 26px;
    border: none;
    color: #000000;
  }
}
@media (min-width: 1300px) {
  .programs__description {
    grid-column: 1/-1;
    grid-row: 2/3;
    font-size: 16px;
    line-height: 24px;
    margin-top: 40px;
    padding: 0;
  }
}
.programs__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .programs__link {
    grid-row: 3/-1;
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    position: relative;
  }
}
@media (min-width: 1300px) {
  .programs__link {
    grid-row: 3/-1;
    grid-column: 1/2;
    font-size: 20px;
    line-height: 30px;
    margin-top: 25px;
    position: relative;
  }
}
.programs__arrow {
  margin-left: 11px;
}
@media (min-width: 768px) {
  .programs__arrow {
    position: absolute;
    left: 122px;
    bottom: 10px;
  }
}
@media (min-width: 1300px) {
  .programs__arrow {
    margin: 0;
    position: absolute;
  }
}
@media (min-width: 1300px) {
  .programs__arrow-slim {
    top: 9px;
    left: 137px;
  }
}
@media (min-width: 1300px) {
  .programs__arrow-fat {
    top: 9px;
    left: 131px;
  }
}
@media (min-width: 768px) {
  .usage {
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1300px) {
  .usage {
    border: none;
  }
}
.usage__container {
  padding: 20px 0 50px 0;
}
@media (min-width: 768px) {
  .usage__container {
    padding: 45px 0 62px 0;
  }
}
@media (min-width: 1300px) {
  .usage__container {
    padding: 71px 0 20px 0;
  }
}
.usage__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
.usage__list {
  display: grid;
  row-gap: 21px;
  list-style: none;
  color: #444444;
  padding: 40px 0 0 0;
  margin: 0;
}
@media (min-width: 768px) {
  .usage__list {
    grid-template-columns: max-content max-content;
    padding: 72px 0 0 0;
    column-gap: 139px;
    row-gap: 93px;
  }
}
@media (min-width: 1300px) {
  .usage__list {
    grid-template-columns: repeat(4, max-content);
    column-gap: 80px;
  }
}
.usage__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: 21px;
}
@media (min-width: 768px) {
  .usage__item {
    grid-template-columns: 245px;
    grid-template-rows: 1fr 1fr;
    position: relative;
  }
}
@media (min-width: 768px) {
  .usage__item--first::after {
    position: absolute;
    content: "1";
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
    bottom: -16px;
    right: 16px;
  }
}
@media (min-width: 768px) {
  .usage__item--second::after {
    position: absolute;
    content: "2";
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
    bottom: -16px;
    right: 0;
  }
}
@media (min-width: 768px) {
  .usage__item--third::after {
    position: absolute;
    content: "3";
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
    bottom: -16px;
    right: -2px;
  }
}
@media (min-width: 768px) {
  .usage__item--fourth::after {
    position: absolute;
    content: "4";
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
    bottom: -16px;
    right: -4px;
  }
}
.usage__description {
  font-family: "Arial", sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .usage__description {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .usage__description {
    font-size: 16px;
    line-height: 24px;
  }
}
.usage__icon--tablet {
  display: none;
}
@media (min-width: 768px) {
  .usage__icon--mobile {
    display: none;
  }
  .usage__icon--tablet {
    display: block;
    padding-bottom: 32px;
  }
}
@media (min-width: 1300px) {
  .usage__icon {
    padding-bottom: 31px;
  }
}
.example {
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
    position: relative;
  }
}
@media (min-width: 768px) {
  .example::after {
    content: "";
    position: absolute;
    background-color: #eaeaea;
    width: 100%;
    height: 461px;
    z-index: 0;
    bottom: -47px;
  }
}
@media (min-width: 1300px) {
  .example::after {
    bottom: 0;
  }
}
.example__container {
  padding: 25px 0 40px 0;
}
@media (min-width: 768px) {
  .example__container {
    display: grid;
    grid-template-columns: 370px 1fr;
    grid-template-rows: repeat(5, max-content);
    padding: 43px 0 0 0;
  }
}
@media (min-width: 1300px) {
  .example__container {
    grid-template-rows: repeat(4, max-content);
    position: relative;
    padding: 67px 0 22px 0;
    grid-template-columns: 436px 1fr;
    z-index: 1;
  }
}
.example__text {
  font-family: "Arial", sans-serif;
  color: #444444;
  margin: 0;
  padding: 40px 0 20px 0;
}
@media (min-width: 768px) {
  .example__text {
    grid-column: 1/-1;
    grid-row: 2/3;
    padding: 64px 24px 54px 0;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .example__text {
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 147px 0 46px 0;
  }
}
.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  text-align: center;
  margin: 0;
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .example__list {
    grid-column: 1/2;
    grid-row: 3/4;
    grid-template-columns: repeat(2, 162px);
    column-gap: 42px;
    margin: 0 0 79px 0;
  }
}
@media (min-width: 1300px) {
  .example__list {
    margin: 0;
  }
}
.example__title {
  grid-row: 2/3;
  width: 90px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
  text-transform: lowercase;
  text-align: center;
  padding: 0 0 0 33px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 14px;
    line-height: 14px;
    width: max-content;
    padding: 0;
    margin: auto;
  }
}
.example__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 9px;
  padding-top: 14px;
}
@media (min-width: 768px) {
  .example__description {
    font-size: 30px;
    line-height: 37px;
    margin: 0;
    padding: 14px 0 12px 0;
  }
}
.example__addition {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__addition {
    grid-row: 3/4;
    grid-column: 2/-1;
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    margin-left: 163px;
    padding-top: 7px;
    text-align: end;
  }
}
@media (min-width: 1300px) {
  .example__addition {
    grid-row: 4/5;
    grid-column: 1/2;
    margin: 0;
    padding: 49px 0 0 0;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .example__images {
    grid-row: 4/5;
    grid-column: 1/-1;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-bottom: 19px;
  }
}
@media (min-width: 1300px) {
  .example__images {
    grid-column: 2/-1;
    grid-row: 1/-1;
    position: absolute;
    bottom: 89px;
    right: -2px;
  }
}
.example__image--tablet,
.example__image--desktop {
  display: none;
}
@media (min-width: 768px) {
  .example__image--mobile,
  .example__image--desktop {
    display: none;
  }
  .example__image--tablet {
    display: block;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .example__switcher {
    grid-column: 1/-1;
    grid-row: 5/6;
    position: relative;
    z-index: 1;
    margin: auto;
  }
}
@media (min-width: 1300px) {
  .example__switcher {
    grid-column: 2/-1;
    grid-row: 4/5;
    padding: 36px 0;
  }
}
.cooperation {
  margin-bottom: -3px;
}
@media (min-width: 1300px) {
  .cooperation {
    position: relative;
  }
}
.cooperation--form {
  background-color: #f2f2f2;
}
.cooperation__container {
  padding: 26px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  .cooperation__container {
    grid-template-columns: 171px 160px;
    column-gap: 297px;
    margin-top: 46px;
    padding: 61px 40px 60px 40px;
  }
}
@media (min-width: 1300px) {
  .cooperation__container {
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 50px;
    left: 110px;
    max-width: 565px;
    height: 198px;
    background-color: #ffffff;
    z-index: 1;
    column-gap: 91px;
    padding: 58px 40px 60px 40px;
  }
}
.cooperation__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}
@media (min-width: 768px) {
  .cooperation__title {
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1300px) {
  .cooperation__title {
    padding: 2px 0 0 40px;
  }
}
.cooperation__street {
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .cooperation__street {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }
}
@media (min-width: 1300px) {
  .cooperation__street {
    text-align: left;
  }
}
.cooperation__image {
  display: block;
  margin: auto;
}
.cooperation__image--tablet,
.cooperation__image--desktop {
  display: none;
}
@media (min-width: 768px) {
  .cooperation__image--tablet {
    display: block;
  }
  .cooperation__image--mobile,
  .cooperation__image--desktop {
    display: none;
  }
}
@media (min-width: 1300px) {
  .cooperation__image--desktop {
    display: block;
    position: relative;
  }
  .cooperation__image--mobile,
  .cooperation__image--tablet {
    display: none;
  }
}
.catalog-list__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 202px);
  padding: 8px 0 23px 0;
  row-gap: 7px;
}
@media (min-width: 768px) {
  .catalog-list__container {
    grid-template-columns: 324px 324px;
    grid-template-rows: repeat(4, 511px);
    gap: 60px;
    padding-top: 89px;
  }
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, max-content);
}
@media (min-width: 768px) {
  .card {
    grid-template-rows: 200px max-content max-content max-content;
  }
}
.card__link {
  text-decoration: none;
  display: block;
  margin: 14px 0 12px 0;
  width: 76px;
  height: 41px;
  grid-column: 2/-1;
  grid-row: 1/2;
}
@media (min-width: 768px) {
  .card__link {
    grid-column: 1/-1;
    grid-row: 2/3;
    width: 126px;
    margin: 0 auto 0 auto;
  }
}
.card__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
}
@media (min-width: 768px) {
  .card__heading {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }
}
.card__list {
  display: grid;
  grid-template-columns: 36px 40px;
  grid-template-rows: repeat(3, 16px);
  column-gap: 65px;
  grid-column: 2/-1;
  grid-row: 2/3;
  margin: 0 0 22px 0;
}
@media (min-width: 768px) {
  .card__list {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}
.card__title {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  grid-column: 1/2;
}
@media (min-width: 768px) {
  .card__title {
    font-size: 16px;
  }
}
.card__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: end;
  color: #444444;
  grid-column: 2/-1;
  margin: 0;
}
@media (min-width: 768px) {
  .card__description {
    font-size: 16px;
  }
}
.card__image {
  grid-column: 1/2;
  grid-row: 1/3;
  margin: auto;
}
@media (min-width: 768px) {
  .card__image {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}
.card__image--tablet,
.card__image--desktop {
  display: none;
}
@media (min-width: 768px) {
  .card__image--tablet {
    display: block;
  }
  .card__image--mobile,
  .card__image--desktop {
    display: none;
  }
}
@media (min-width: 1300px) {
  .card__image--desktop {
    display: block;
  }
  .card__image--mobile,
  .card__image--tablet {
    display: none;
  }
}
.card__button {
  grid-column: 1/-1;
  grid-row: 3/-1;
  height: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
}
@media (min-width: 768px) {
  .card__button {
    grid-row: 4/-1;
    width: 248px;
    margin: 0 auto;
  }
}
.show-all {
  padding: 18px 0 0 0;
}
.show-all__image {
  display: block;
  margin: auto;
  margin-bottom: 23px;
}
.show-all__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.show-all__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
  margin: 8px 0 20px 0;
}
.show-all__button {
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
.catalog-additional__container {
  padding-bottom: 35px;
}
.catalog-additional__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 26px 0 35px 0;
}
.catalog-additional__title::after {
  position: absolute;
  content: "";
  width: 53px;
  height: 2px;
  background-color: #68b738;
  top: 41px;
  left: 247px;
}
.catalog-additional__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 130px);
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  list-style: none;
}
.catalog-additional__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, max-content);
  border-top: 1px solid #cdcdcd;
}
.catalog-additional__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
.card-optional__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 13px 0 0 0;
}
.card-optional__specification {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 13px 0 13px 0;
}
.card-optional__button {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 3/-1;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.promo-gift {
  padding: 59px 59px 41px;
  background-image: url("../img/backgrounds/background-optional.jpg");
}
.promo-gift__image {
  display: block;
  margin: auto;
}
.promo-gift__descriptoin {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top: 50px;
}
.footer {
  background-color: #f2f2f2;
}
.footer__container {
  padding-top: 42px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 38px 0 52px 0;
  }
}
.footer__link {
  padding: 0 0 28px 0;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .footer__link {
    padding: 23px 0 0 0;
    border: none;
  }
}
.footer__copyright {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 22px 0 18px 0;
}
@media (min-width: 768px) {
  .footer__copyright {
    grid-template-columns: 114px 27px;
    column-gap: 23px;
    padding: 22px 0 0 0;
  }
}
.social {
  padding: 19px 73px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .social {
    border: none;
    padding: 16px 0 0 0;
    margin-left: 30px;
  }
}
.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 24px);
  column-gap: 31px;
}
@media (min-width: 768px) {
  .social__list {
    grid-template-columns: repeat(3, 30px);
    column-gap: 22px;
  }
}
.social__item {
  min-width: 24px;
  min-height: 24px;
}
@media (min-width: 768px) {
  .social__item {
    min-width: 30px;
    min-height: 33px;
  }
}
.social__link {
  display: block;
  position: relative;
  min-width: 24px;
  min-height: 24px;
}
@media (min-width: 768px) {
  .social__link {
    min-width: 30px;
    min-height: 33px;
  }
}
.social__logo-vk {
  position: absolute;
  top: 4px;
  left: 0;
}
.social__logo-vk--tablet,
.social__logo-vk--desktop {
  display: none;
}
@media (min-width: 768px) {
  .social__logo-vk--tablet {
    display: block;
  }
  .social__logo-vk--mobile,
  .social__logo-vk--desktop {
    display: none;
  }
}
.social__logo-instagram {
  position: absolute;
  left: 4px;
  top: 5px;
}
.social__logo-instagram--tablet,
.social__logo-instagram--desktop {
  display: none;
}
@media (min-width: 768px) {
  .social__logo-instagram--tablet {
    display: block;
  }
  .social__logo-instagram--mobile,
  .social__logo-instagram--desktop {
    display: none;
  }
}
.social__logo-facebook {
  position: absolute;
  right: 4px;
  top: 1px;
}
.social__logo-facebook--tablet,
.social__logo-facebook--desktop {
  display: none;
}
@media (min-width: 768px) {
  .social__logo-facebook--tablet {
    display: block;
  }
  .social__logo-facebook--mobile,
  .social__logo-facebook--desktop {
    display: none;
  }
}
.copyright__title {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  text-align: left;
  padding-top: 7px;
}
.copyright__link {
  text-align: end;
}
@media (min-width: 768px) {
  .form__container {
    padding: 0 36px 0 39px;
    margin-bottom: 72px;
  }
}
@media (min-width: 1300px) {
  .form__container {
    padding: 0;
    display: grid;
    grid-template-columns: 569px 569px;
    column-gap: 80px;
    margin-bottom: 83px;
  }
}
.form__group {
  margin: 0;
}
.form__footnote {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;
  margin: 21px 0 0 0;
  padding: 0 0 32px 0;
}
@media (min-width: 768px) {
  .form__footnote {
    display: inline-block;
    margin: 0 0 0 58px;
    font-size: 16px;
    padding: 0 0 0 0;
    min-height: 30px;
    vertical-align: middle;
  }
}
@media (min-width: 1300px) {
  .form__footnote {
    margin: 0;
    font-size: 16px;
    padding: 0;
    padding-top: 19px;
    text-align: left;
  }
}
.form__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 0 37px 0;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 60px;
    line-height: 60px;
    padding: 40px 0 55px 0;
  }
}
@media (min-width: 1300px) {
  .form__title {
    padding: 0;
    margin: 51px 0 56px 0;
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}
.form__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0 0 39px 0;
  max-width: 274px;
}
@media (min-width: 768px) {
  .form__description {
    font-size: 20px;
    line-height: 30px;
    max-width: 370px;
    padding: 0 0 65px 1px;
  }
}
@media (min-width: 1300px) {
  .form__description {
    padding: 0;
    margin-bottom: 65px;
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
.form__button {
  min-width: 280px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
}
@media (min-width: 768px) {
  .form__button {
    min-width: 282px;
    min-height: 52px;
    margin-left: 2px;
    font-size: 20px;
  }
}
@media (min-width: 1300px) {
  .form__button {
    grid-template-columns: 1/2;
  }
}
.field-group {
  padding: 0;
  border: none;
  position: relative;
}
@media (min-width: 768px) {
  .field-group--cat {
    margin-bottom: 49px;
  }
}
@media (min-width: 1300px) {
  .field-group--cat {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 0;
    margin-bottom: 42px;
  }
}
.field-group--cat::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  left: -21px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .field-group--cat::after {
    display: none;
  }
}
.field-group--program {
  padding: 30px 0 0 0;
}
.field-group--program::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  left: -21px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .field-group--program::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .field-group--program {
    border: 1px solid #e7e7e7;
    padding: 30px 0 17px 0;
    margin-bottom: 48px;
  }
}
@media (min-width: 1300px) {
  .field-group--program {
    grid-column: 2/-1;
    grid-row: 3/4;
    width: 570px;
    height: 196px;
    margin: 0;
  }
}
.field-group--contacts {
  padding: 0 0 24px 0;
}
@media (min-width: 768px) {
  .field-group--contacts {
    padding: 0 0 72px 0;
  }
}
@media (min-width: 1300px) {
  .field-group--contacts {
    grid-column: 1/-1;
    padding: 0;
    margin-bottom: 66px;
  }
}
.field-group--comment {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .field-group--comment {
    margin-bottom: 62px;
  }
}
@media (min-width: 1300px) {
  .field-group--comment {
    grid-column: 1/-1;
    margin-bottom: 65px;
  }
}
.field-group--additionally {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .field-group--additionally {
    margin-bottom: 54px;
  }
}
@media (min-width: 1300px) {
  .field-group--additionally {
    grid-column: 1/-1;
    margin-bottom: 60px;
  }
}
.field-group__control {
  position: relative;
}
.field-group__list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
}
.field-group__list--cat {
  row-gap: 14px;
  padding: 0 0 23px 0;
}
@media (min-width: 768px) {
  .field-group__list--cat {
    row-gap: 20px;
    padding: 0 0 23px 2px;
  }
}
@media (min-width: 1300px) {
  .field-group__list--cat {
    padding: 0;
    width: 589px;
  }
}
.field-group__list--program {
  row-gap: 3px;
  padding: 0 0 1px 0;
}
@media (min-width: 768px) {
  .field-group__list--program {
    grid-template-rows: repeat(3, 40px);
    row-gap: 13px;
  }
}
.field-group__list--contacts {
  grid-template-rows: repeat(2, 45px);
  row-gap: 14px;
}
@media (min-width: 768px) {
  .field-group__list--contacts {
    margin-top: 41px;
    row-gap: 27px;
  }
}
@media (min-width: 1300px) {
  .field-group__list--contacts {
    grid-template-columns: 569px 569px;
    grid-template-rows: 1fr;
    column-gap: 80px;
  }
}
.field-group__list--checkbox {
  display: grid;
  grid-template-rows: repeat(4, 30px);
  row-gap: 12px;
}
@media (min-width: 768px) {
  .field-group__list--checkbox {
    grid-template-rows: repeat(2, 40px);
    grid-template-columns: 1fr 1fr;
    column-gap: 56px;
    row-gap: 32px;
  }
}
@media (min-width: 1300px) {
  .field-group__list--checkbox {
    grid-template-columns: repeat(4, 221px);
    grid-template-rows: 1fr;
    column-gap: 104px;
  }
}
.field-group__item--weight-loss,
.field-group__item--weight-gain,
.field-group__item--advice {
  padding: 0 0 0 45px;
  min-height: 40px;
}
.field-group__heading {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .field-group__heading {
    font-size: 36px;
    line-height: 36px;
  }
}
.field-group__heading--contacts {
  padding: 27px 0 35px 0;
}
@media (min-width: 768px) {
  .field-group__heading--contacts::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #68b738;
    top: 49px;
    left: -69px;
  }
}
@media (min-width: 1300px) {
  .field-group__heading--contacts::before {
    min-width: 70px;
    left: -110px;
  }
}
.field-group__heading--contacts::after {
  position: absolute;
  content: "";
  width: 99px;
  height: 2px;
  background-color: #68b738;
  top: 43px;
  right: -20px;
}
@media (min-width: 768px) {
  .field-group__heading--contacts::after {
    position: absolute;
    content: "";
    width: 145px;
    height: 2px;
    background-color: #68b738;
    top: 49px;
    right: -187px;
  }
}
@media (min-width: 1300px) {
  .field-group__heading--contacts::after {
    min-width: 778px;
    left: 552px;
  }
}
@media (min-width: 768px) {
  .field-group__heading--comment::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #68b738;
    top: 31px;
    left: -69px;
  }
}
@media (min-width: 1300px) {
  .field-group__heading--comment::before {
    min-width: 70px;
    left: -110px;
    top: 32px;
  }
}
.field-group__heading--comment::after {
  position: absolute;
  content: "";
  width: 158px;
  height: 2px;
  background-color: #68b738;
  top: 20px;
  left: 142px;
}
@media (min-width: 768px) {
  .field-group__heading--comment::after {
    position: absolute;
    content: "";
    width: 478px;
    height: 2px;
    background-color: #68b738;
    top: 31px;
    left: 220px;
  }
}
@media (min-width: 1300px) {
  .field-group__heading--comment::after {
    min-width: 1108px;
    top: 32px;
    left: 221px;
  }
}
.field-group__heading--additionally {
  padding: 0;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .field-group__heading--additionally {
    margin-bottom: 57px;
  }
}
@media (min-width: 768px) {
  .field-group__heading--additionally::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #68b738;
    top: 22px;
    left: -69px;
  }
}
@media (min-width: 1300px) {
  .field-group__heading--additionally::before {
    min-width: 70px;
    left: -110px;
  }
}
.field-group__heading--additionally::after {
  position: absolute;
  content: "";
  width: 136px;
  height: 2px;
  background-color: #68b738;
  top: 15px;
  left: 164px;
}
@media (min-width: 768px) {
  .field-group__heading--additionally::after {
    position: absolute;
    content: "";
    width: 446px;
    height: 2px;
    background-color: #68b738;
    top: 22px;
    left: 253px;
  }
}
@media (min-width: 1300px) {
  .field-group__heading--additionally::after {
    min-width: 1078px;
  }
}
.field-group__item input[type="radio"]:checked + .control__radiobutton::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: #68b738;
  border-radius: 50%;
  top: 7px;
  left: 7px;
}
@media (min-width: 768px) {
  .field-group__item input[type="radio"]:checked + .control__radiobutton::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background: #68b738;
    border-radius: 50%;
    top: 10px;
    left: 10px;
  }
}
.field--textarea {
  padding: 37px 0 0 0;
}
@media (min-width: 768px) {
  .field--textarea {
    padding: 75px 0 0 0;
  }
}
@media (min-width: 1300px) {
  .field--textarea {
    position: relative;
  }
}
.field__line {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .field__line {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
  }
}
.field__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  min-height: 45px;
  padding: 0 0 0 15px;
}
@media (min-width: 768px) {
  .field__input {
    font-size: 20px;
    line-height: 30px;
    min-height: 52px;
    padding-left: 18px;
  }
}
.field__input--name {
  min-width: 229px;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .field__input--name {
    min-width: 567px;
    margin-left: 12px;
  }
}
@media (min-width: 1300px) {
  .field__input--name {
    min-width: 506px;
  }
}
.field__input--weight {
  min-width: 204px;
  margin-left: 13px;
}
@media (min-width: 768px) {
  .field__input--weight {
    min-width: 536px;
    margin-left: 16px;
  }
}
@media (min-width: 1300px) {
  .field__input--weight {
    min-width: 475px;
  }
}
.field__input--age {
  min-width: 172px;
  margin-left: 11px;
}
@media (min-width: 768px) {
  .field__input--age {
    min-width: 497px;
    margin-left: 13px;
  }
}
@media (min-width: 1300px) {
  .field__input--age {
    min-width: 436px;
  }
}
.field__input--email {
  position: relative;
  min-width: 219px;
  padding: 0 0 0 15px;
  margin-left: 7px;
}
@media (min-width: 768px) {
  .field__input--email {
    margin-left: 16px;
    min-width: 551px;
    padding: 0 0 0 22px;
  }
}
@media (min-width: 1300px) {
  .field__input--email {
    min-width: 486px;
  }
}
.field__input--phone {
  min-width: 204px;
  padding: 0 0 0 15px;
  margin-left: 6px;
}
@media (min-width: 768px) {
  .field__input--phone {
    margin-left: 11px;
    min-width: 535px;
    padding: 0 0 0 20px;
  }
}
@media (min-width: 1300px) {
  .field__input--phone {
    min-width: 472px;
    margin-left: 10px;
  }
}
.field__input--textarea {
  min-width: 280px;
  min-height: 150px;
  padding: 9px 0 0 14px;
}
@media (min-width: 768px) {
  .field__input--textarea {
    min-width: 631px;
    min-height: 174px;
    padding: 10px 0 0 19px;
  }
}
@media (min-width: 1300px) {
  .field__input--textarea {
    min-width: 1220px;
  }
}
.field__icon--email {
  position: absolute;
  top: 16px;
  right: 15px;
}
@media (min-width: 768px) {
  .field__icon--email {
    top: 59px;
    right: 18px;
  }
}
@media (min-width: 1300px) {
  .field__icon--email {
    top: 59px;
    left: 531px;
  }
}
.field__icon--phone {
  position: absolute;
  bottom: 35px;
  right: 13px;
}
@media (min-width: 768px) {
  .field__icon--phone {
    right: 17px;
    bottom: 80px;
  }
}
@media (min-width: 1300px) {
  .field__icon--phone {
    right: 15px;
    bottom: 16px;
  }
}
.control--checkbox {
  display: grid;
  align-items: center;
  min-height: 30px;
}
@media (min-width: 768px) {
  .control--checkbox {
    min-height: 40px;
  }
}
.control__line {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .control__line {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 0 44px;
  }
}
.control__line--checkbox {
  padding: 0 0 0 46px;
}
@media (min-width: 768px) {
  .control__line--checkbox {
    padding: 0 0 0 60px;
  }
}
.control__radiobutton {
  position: absolute;
  content: "";
  top: -6px;
  left: -45px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .control__radiobutton {
    position: absolute;
    content: "";
    top: -13px;
    left: -16px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
  }
}
.control__icon {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .control__icon {
    width: 40px;
    height: 40px;
  }
}
.control__input[type="checkbox"]:checked + .control__icon {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/icons/check-green.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .control__input[type="checkbox"]:checked + .control__icon {
    width: 40px;
    height: 40px;
    background-image: url("../img/icons/check-green--tablet.svg");
  }
}
/*# sourceMappingURL=style.css.map */
