// Colors

@green: #68B738;
@light-grey: #F2F2F2;
@grey: #EAEAEA;
@dark-grey: #444444;
@black: #000000;
@white: #FFFFFF;
@almost-black: #111111;

// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
